<!doctype html>
  <head>
    <title><%= @title || "FX App by Cat Burston" %></title>

    <meta name="FX App by Cat Burston" content="FX App by Cat Burston">
    <meta charset="utf-8">

    <link href="<%= url('/css/styles.css') %>" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class="main-content">
      <h1><%= @title || "FX App by Cat Burston" %></h1>
      <%= yield %>
    </div>
  </body>
  <!-- FX App by Cat Burston, 2015 -->
</html>