<div class="results">
  <div class="results-content">
    <p>The date, amount or currencies submitted were not found, please try again.</p>
  </div>
  <div class="results-content">
    <div class="results-field">
      <a href="/" class="btn">Convert another</a>
    </div>
  </div>
</div>
